html {
    box-sizing: border-box;
}

*, ::after ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    background-color: #FAF3E0;
    color: #1E212D;
    background-image: url("../images/background.jpeg");
}

.header {
    margin: auto;
    text-align: center;
    background-color: #EABF9F;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 16px 6px #1E212D;
}